<section class="section-questions">
  <div class="section-questions__header">
    <h2 class="section-questions__title">Ваши вопросы</h2>
    <mat-icon class="section-questions__icon-add icon-clicked" matTooltip="Добавить вопрос">add</mat-icon>
  </div>
  <div class="question-set">

    <article class="question">
      <header class="question__header">
        <h3 class="question__title">
          Passengers Suffer as Crowded Field Puts Pressure on Europe’s Airlines?
          <span class="question__date">Aug 6</span>
        </h3>

        <div class="actions">
          <mat-icon class="news__edit icon-clicked">edit</mat-icon>
          <mat-icon class="news__delete icon-clicked">delete</mat-icon>
        </div>
      </header>
      <p class="question__info">Weaker carriers have fallen by the wayside amid fierce competition, while others have been hit by bad luck. The result: thousands of canceled flights.</p>
    </article>

    <article class="question">
      <header class="question__header">
        <h3 class="question__title">
          Passengers Suffer as Crowded Field Puts Pressure on Europe’s Airlines?         <span class="question__date">Aug 6</span>
        </h3>
      </header>
      <p class="question__info">Weaker carriers have fallen by the wayside amid fierce competition, while others have been hit by bad luck. The result: thousands of canceled flights.</p>
    </article>

    <article class="question">
      <header class="question__header">
        <h3 class="question__title">
          Passengers Suffer as Crowded Field Puts Pressure on Europe’s Airlines?         <span class="question__date">Aug 6</span>
        </h3>
      </header>
      <p class="question__info">Weaker carriers have fallen by the wayside amid fierce competition, while others have been hit by bad luck. The result: thousands of canceled flights.</p>
    </article>

    <article class="question">
      <header class="question__header">
        <h3 class="question__title">
          Passengers Suffer as Crowded Field Puts Pressure on Europe’s Airlines?         <span class="question__date">Aug 6</span>
        </h3>
      </header>
      <p class="question__info">Weaker carriers have fallen by the wayside amid fierce competition, while others have been hit by bad luck. The result: thousands of canceled flights.</p>
    </article>

  </div>

</section>
