<section class="section-questions">
  <h2 class="section-question__title">Ваши вопросы</h2>
  <div class="question-set">

    <article class="question">
      <header class="question__header">
        <h3 class="question__title">
          Passengers Suffer as Crowded Field Puts Pressure on Europe’s Airlines?         <span class="question__date">Aug 6</span>
        </h3>
      </header>
      <p class="question__info">Weaker carriers have fallen by the wayside amid fierce competition, while others have been hit by bad luck. The result: thousands of canceled flights.</p>
    </article>

    <article class="question">
      <header class="question__header">
        <h3 class="question__title">
          Passengers Suffer as Crowded Field Puts Pressure on Europe’s Airlines?         <span class="question__date">Aug 6</span>
        </h3>
      </header>
      <p class="question__info">Weaker carriers have fallen by the wayside amid fierce competition, while others have been hit by bad luck. The result: thousands of canceled flights.</p>
    </article>

    <article class="question">
      <header class="question__header">
        <h3 class="question__title">
          Passengers Suffer as Crowded Field Puts Pressure on Europe’s Airlines?         <span class="question__date">Aug 6</span>
        </h3>
      </header>
      <p class="question__info">Weaker carriers have fallen by the wayside amid fierce competition, while others have been hit by bad luck. The result: thousands of canceled flights.</p>
    </article>

    <article class="question">
      <header class="question__header">
        <h3 class="question__title">
          Passengers Suffer as Crowded Field Puts Pressure on Europe’s Airlines?         <span class="question__date">Aug 6</span>
        </h3>
      </header>
      <p class="question__info">Weaker carriers have fallen by the wayside amid fierce competition, while others have been hit by bad luck. The result: thousands of canceled flights.</p>
    </article>

  </div>

</section>
