<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Панель администратора</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/styles-admin.css}" href="../../css/styles-admin.css"/>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700,800" rel="stylesheet">
    <!-- FAVICON -->
    <link rel="icon" href="/img/logo.ico" type="image/x-icon">
</head>
<body>
<div th:replace="fragments/admin-header-frag :: admin-header-frag"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="new_qestions">
                <div class="_title">
                    <p>Новые вопросы <span class="badge badge-primary">4</span></p>
                </div>
                <div class="card text-white bg-dark mb-3 _news">
                    <div class="card-header">Вопрос от пользователя <a href="">User</a></div>
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">Вопрос был задан 09/14/2018 в 19:35</small></p>
                        <p class="card-text">Lorem ipsum dolor sit amet, ei magna aperiam abhorreant est, oratio exerci
                            et eam. Sensibus reformidans sea at, at saepe soluta nec. Tota quas quidam ea mea, te
                            necerant verterem. Elit omnium appareat ei his, quo id luptatum splendide. Ius ea commune
                            definiebas, ad commune consequat scribentur eum. Dico ceteros lucilius mea no.</p>
                        <div style="display: inline-block;">
                            <a href="#" class="btn btn-primary">Ответить</a> <a href="#"
                                                                                class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3 _news">
                    <div class="card-header">Вопрос от пользователя <a href="">User</a></div>
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">Вопрос был задан 09/14/2018 в 19:35</small></p>
                        <p class="card-text">Lorem ipsum dolor sit amet, ei magna aperiam abhorreant est, oratio exerci
                            et eam. Sensibus reformidans sea at, at saepe soluta nec. Tota quas quidam ea mea, te
                            necerant verterem. Elit omnium appareat ei his, quo id luptatum splendide. Ius ea commune
                            definiebas, ad commune consequat scribentur eum. Dico ceteros lucilius mea no.</p>
                        <div style="display: inline-block;">
                            <a href="#" class="btn btn-primary">Ответить</a> <a href="#"
                                                                                class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3 _news">
                    <div class="card-header">Вопрос от пользователя <a href="">User</a></div>
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">Вопрос был задан 09/14/2018 в 19:35</small></p>
                        <p class="card-text">Lorem ipsum dolor sit amet, ei magna aperiam abhorreant est, oratio exerci
                            et eam. Sensibus reformidans sea at, at saepe soluta nec. Tota quas quidam ea mea, te
                            necerant verterem. Elit omnium appareat ei his, quo id luptatum splendide. Ius ea commune
                            definiebas, ad commune consequat scribentur eum. Dico ceteros lucilius mea no.</p>
                        <div style="display: inline-block;">
                            <a href="#" class="btn btn-primary">Ответить</a> <a href="#"
                                                                                class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3 _news">
                    <div class="card-header">Вопрос от пользователя <a href="">User</a></div>
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">Вопрос был задан 09/14/2018 в 19:35</small></p>
                        <p class="card-text">Lorem ipsum dolor sit amet, ei magna aperiam abhorreant est, oratio exerci
                            et eam. Sensibus reformidans sea at, at saepe soluta nec. Tota quas quidam ea mea, te
                            necerant verterem. Elit omnium appareat ei his, quo id luptatum splendide. Ius ea commune
                            definiebas, ad commune consequat scribentur eum. Dico ceteros lucilius mea no.</p>
                        <div style="display: inline-block;">
                            <a href="#" class="btn btn-primary">Ответить</a> <a href="#"
                                                                                class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="new_qestions">
                <div class="_title">
                    <p>Информация</p>
                </div>
                <div class="_info">
                    <div class="col-md-12">
                        <h3 style="text-align: center;">Статистика по дням</h3>
                        <div id="piechart" style="height: 400px;"></div>
                    </div>
                    <p>Всего вопросов: 1985</p>
                    <p>В среднем вопросов в неделю: 5</p>
                    <p>Вопросов за последний месяц: 26</p>
                    <div style="display: inline-block;">
                        <a href="#" class="btn btn-info">Удалить первые 5 вопросов</a> <a href="#"
                                                                                          class="btn btn-warning">Удалить
                        первые 20 вопросов</a> <a href="#" class="btn btn-danger">Удалить все вопросы</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BOOTSTRAP JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Понедельник', 11],
            ['Вторник', 2],
            ['Среда', 2],
            ['Четверг', 2],
            ['Пятница', 7],
            ['Суббота', 7],
            ['Воскресенье', 7]
        ]);

        var options = {
            title: 'fasfas',
            legend: {position: 'labeled'},
            titlePosition: 'none',
            backgroundColor: '#FAFAFA'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>
</body>
</html>