<header class="header">
  <div class="header-info">
    <div class="logo" routerLink="/">VSU Tournaments Admin</div>
    <nav class="header_main-menu">
      <a class="header_main-menu__link" routerLink="/news" routerLinkActive="active">Новости</a>
      <a class="header_main-menu__link" routerLink="/tournaments" routerLinkActive="active">Турниры</a>
      <a class="header_main-menu__link" routerLink="/sponsors" routerLinkActive="active">Спонсоры</a>
      <a class="header_main-menu__link" routerLink="/rating" routerLinkActive="active">Пользователи</a>
      <a class="header_main-menu__link" routerLink="/questions" routerLinkActive="active">FAQ</a>
    </nav>
    <div class="user-info">
      <div class="user">
        <mat-icon class="icon">person</mat-icon>
        <span>Выйти</span>
      </div>
    </div>
  </div>
</header>
