.sponsors-section {
  padding: 20px 0;
  max-width: var(--width-main);
  margin: 0 auto;

  &__title {
    margin: 0;
  }

  &__header {
    margin: 0 0 10px 25px;
    display: flex;
    justify-content: space-between;
  }

  &__icon-add {
    cursor: pointer;
    font-size: 32px;
    width: 32px;
    height: 32px;
  }
}

.sponsors-set {
  padding: 25px;
  border-radius: 10px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.sponsor {
  background: #ffffff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  &__title {
    font-size: 20px;
    text-align: center;
    color: #262D33;
    margin: 0 0 15px;
    font-weight: bold;
  }

  &__logo {
    width: 100%;
    margin-bottom: 20px;
  }

  &__info {
    font-size: 14px;
    color: #4B5157;
  }
}
