<section class="sponsors-section">
  <div class="sponsors-section__header">
    <h2 class="sponsors-section__title">Спонсоры</h2>
    <mat-icon class="sponsors-section__icon-add icon-clicked" matTooltip="Добавить">add</mat-icon>
  </div>
  <div class="sponsors-set">
    <article class="sponsor">
      <header>
        <img class="sponsor__logo" src="assets/images/DA.png" alt="лого">
        <div class="sponsor__title">Название</div>
      </header>
      <p class="sponsor__info">хорошее описание спонсора</p>
    </article>
    <article class="sponsor">
      <header>
        <img class="sponsor__logo" src="" alt="лого">
        <div class="sponsor__title">Название</div>
      </header>
      <p class="sponsor__info">хорошее описание спонсора</p>
    </article>
    <article class="sponsor">
      <header>
        <img class="sponsor__logo" src="" alt="лого">
        <div class="sponsor__title">Название</div>
      </header>
      <p class="sponsor__info">хорошее описание спонсора</p>
    </article>
    <article class="sponsor">
      <header>
        <img class="sponsor__logo" src="" alt="лого">
        <div class="sponsor__title">Название</div>
      </header>
      <p class="sponsor__info">хорошее описание спонсора</p>
    </article>
    <article class="sponsor">
      <header>
        <div class="sponsor__title">Стать спонсором</div>
      </header>
      <p class="sponsor__info">Хотите стать спонсором пишите нам на почту</p>
    </article>
  </div>
</section>
