<footer class="footer">
  <div class="footer-info">
    <div class="row">

      <div class="logo" routerLink="/">VSU Tournaments</div>
      <nav class="header_main-menu">
        <a class="header_main-menu__link" routerLink="/news" routerLinkActive="active">Новости</a>
        <a class="header_main-menu__link" routerLink="/tournaments" routerLinkActive="active">Турниры</a>
        <a class="header_main-menu__link" routerLink="/sponsors" routerLinkActive="active">Спонсоры</a>
        <a class="header_main-menu__link" routerLink="/rating" routerLinkActive="active">Рейтинг</a>
        <a class="header_main-menu__link" routerLink="/questions" routerLinkActive="active">FAQ</a>
      </nav>
      <div class="social">
        <div class="social__icon vk"></div>
        <div class="social__icon twitter"></div>
        <div class="social__icon inst"></div>
      </div>
    </div>
    <div class="row center">
      <div class="copy">
        &copy; 2020 копирайт
      </div>
    </div>
  </div>
</footer>
