<section class="section-news">
  <h2 class="section-news__title">Последние новости</h2>
  <div class="news-set">

    <article class="news">
      <header class="news__header">
        <h3 class="news__title">
          Passengers Suffer as Crowded Field Puts Pressure on Europe’s Airlines
        </h3>
      </header>
      <p class="news__info">Weaker carriers have fallen by the wayside amid fierce competition, while others have been hit by bad luck. The result: thousands of canceled flights.</p>
      <footer class="news__footer">
        <span class="news__date">Aug 6</span>
      </footer>
    </article>
    <article class="news">
      <header class="news__header">
        <h3 class="news__title">
          Passengers Suffer as Crowded Field Puts Pressure on Europe’s Airlines
        </h3>
      </header>
      <p class="news__info">Weaker carriers have fallen by the wayside amid fierce competition, while others have been hit by bad luck. The result: thousands of canceled flights.</p>
      <footer class="news__footer">
        <span class="news__date">Aug 6</span>
      </footer>
    </article>
    <article class="news">
      <header class="news__header">
        <h3 class="news__title">
          Passengers Suffer as Crowded Field Puts Pressure on Europe’s Airlines
        </h3>
      </header>
      <p class="news__info">Weaker carriers have fallen by the wayside amid fierce competition, while others have been hit by bad luck. The result: thousands of canceled flights.</p>
      <footer class="news__footer">
        <span class="news__date">Aug 6</span>
      </footer>
    </article>
  </div>

</section>
