.section-profile {
  padding: 20px 0;
  max-width: var(--width-main);
  margin: 0 auto;

  &__title {
    margin: 0 0 10px 25px;
  }
}

.profile-card {
  border-radius: 10px;
  padding: 20px;
  background: #ffffff;
  display: grid;
  grid-template-columns: 300px minmax(0, 1fr);
  grid-column-gap: 20px;

  &__image {
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    border-bottom: 1px solid #D9DADB;
    padding: 5px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__about {
    flex: 1;
  }

  &__edit-button {
    justify-self: flex-end;
    align-self: flex-end;
  }
}

.section-trophy {
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
  max-width: var(--width-main);
  &__title {
    margin: 0 0 10px 25px;
  }
}

.trophy-set {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px 0;
  margin: 0 -1px 0 -1px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.trophy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-left: 1px solid #D9DADB;
  &__title {
    font-weight: 500;
  }

}
