<section class="section-profile">
  <h2 class="section-profile__title">Профиль</h2>
  <div class="profile-card">
    <img class="profile-card__image" src="/assets/images/noImage.png" alt="">
    <div class="profile-card__info">
      <div class="profile-card__name">Иванов Иван Ивановичк</div>
      <div class="profile-card__about">люблю фронтенд. JS в сердечке</div>
      <button class="profile-card__edit-button button-custom button-custom_blue">Редактировать</button>
    </div>
  </div>
</section>

<section class="section-trophy">
  <h2 class="section-trophy__title">Награды</h2>
  <div class="trophy-set">
    <div class="trophy">
      <div class="trophy__image"><img class="profile-card__image" src="/assets/images/noImage.png" alt=""></div>
      <div class="trophy__title">Награда</div>
    </div>
    <div class="trophy">
      <div class="trophy__image"><img class="profile-card__image" src="/assets/images/noImage.png" alt=""></div>
      <div class="trophy__title">Награда</div>
    </div>
    <div class="trophy">
      <div class="trophy__image"><img class="profile-card__image" src="/assets/images/noImage.png" alt=""></div>
      <div class="trophy__title">Награда</div>
    </div>
    <div class="trophy">
      <div class="trophy__image"><img class="profile-card__image" src="/assets/images/noImage.png" alt=""></div>
      <div class="trophy__title">Награда</div>
    </div>
  </div>
</section>
