<section class="section-modal">
  <h2 class="section-modal__title" *ngIf="data.mode === FormMode.ADD">Добавить пользователя</h2>
  <h2 class="section-modal__title" *ngIf="data.mode === FormMode.EDIT">Редактировать пользователя</h2>
  <div class="section-modal__close" (click)="dialogRef.close()">
    <mat-icon class="icon">close</mat-icon>
  </div>
  <label class="label-input-custom" for="name">
    Пользователь
  </label>
  <input placeholder="Пользователь" id="name" type="text" class="input-custom section-modal__input">

  <label class="label-input-custom" for="login">
    Username
  </label>
  <input placeholder="Логин" id="login" type="text" class="input-custom section-modal__input">
  <label class="label-input-custom" for="password">
    Пароль
  </label>
  <input placeholder="Пароль" id="password" type="password" class="input-custom section-modal__input">
  <div class="section-modal__wrap-button">
    <button class="button-custom button-custom_blue">Сохранить</button>
    <button class="button-custom button-custom_gray">Отмена</button>
  </div>
</section>
