<section class="section-users">
  <div class="section-users__header">
    <h2 class="section-users__title">Пользователи</h2>
    <mat-icon class="section-users__icon-add" matTooltip="Добавить пользователя" (click)="openUserModal(FormMode.ADD)">add</mat-icon>
  </div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8 section-rating__table table-rating table-custom">
    <ng-container matColumnDef="login">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.login}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="faculty">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Факультет </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.faculty}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="user">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Пользователь </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.user}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rating">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Рейтинг </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.rating}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef></mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element">
        <mat-icon class="action__edit" (click)="openUserModal(FormMode.EDIT)">edit</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row class="table-custom__header" *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="table-custom__row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</section>
