.section-rating {
  padding: 20px 0;
  max-width: var(--width-main);
  margin: 0 auto;

  &__title {
    margin: 0 0 10px 25px;
  }
}

.table-rating {
  border-radius: 10px;

  &__header {
    border-radius: 10px 10px 0 0;
  }

  &__header-cell {
    font-size: 16px;
    color: #262D33;
    font-weight: bold;
  }

  &__cell {
    color: #4B5157;
  }

  &__row {
    &:last-child {
      border-radius: 0 0 10px 10px;
    }
  }
}
