@import '~@angular/material/theming';
@import "assets/styles/fonts.scss";
@import "assets/styles/common.scss";
@import "assets/styles/vars.scss";
@include mat-core();
@include angular-material-theme(mat-light-theme($mat-grey, $mat-grey, $mat-grey));

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

html, body, p {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #4B5157;
}

a {
  text-decoration: none;
}


mat-dialog-container.mat-dialog-container {
  padding: 25px 30px;
}

.mat-column-actions {
  flex: 0 0 40px;
}
