<header class="header">
  <div class="header-info">
    <div class="logo" routerLink="/">VSU Tournaments</div>
    <nav class="header_main-menu">
      <a class="header_main-menu__link" routerLink="/news">Новости</a>
      <a class="header_main-menu__link" href="#">Турниры</a>
      <a class="header_main-menu__link" routerLink="/sponsors">Спонсоры</a>
      <a class="header_main-menu__link" routerLink="/rating">Рейтинг</a>
      <a class="header_main-menu__link" routerLink="/faq">FAQ</a>
    </nav>
    <div class="user-info">
      <div class="user" (click)="openSignIn()">
        <mat-icon class="icon">person</mat-icon>
        <span>Войти</span>
      </div>
    </div>
  </div>
</header>
