<header class="header">
  <div class="header-info">
    <div class="logo">Название</div>
    <nav class="header_main-menu">
      <a class="header_main-menu__link" href="#">Меню1</a>
      <a class="header_main-menu__link" href="#">Меню2</a>
      <a class="header_main-menu__link" href="#">Меню1</a>
      <a class="header_main-menu__link" href="#">Меню1</a>
    </nav>
    <div class="user-info">
      <div class="user">
        <mat-icon class="icon">person</mat-icon>
        <span>sign in</span>
      </div>
    </div>
  </div>
</header>
