<footer class="footer">
  <div class="footer-info">
    <div class="row">

      <div class="logo">Название</div>
      <nav class="header_main-menu">
        <a class="header_main-menu__link" href="#">Новости</a>
        <a class="header_main-menu__link" href="#">Турниры</a>
        <a class="header_main-menu__link" href="#">Спонсоры</a>
        <a class="header_main-menu__link" href="#">Рейтинг</a>
        <a class="header_main-menu__link" href="#">FAQ</a>
      </nav>
      <div class="social">

      </div>
    </div>
    <div class="row center">
      <div class="copy">
        &copy; 2020 копирайт
      </div>
    </div>
  </div>
</footer>
